.dropdown {
  position: relative;
}
.dropdown-menu__content {
  position: absolute;
  right: 0;
  z-index: 10;
  max-width: 150px;
  width: 100%;
}
.dropdown-menu {
  padding: 4px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}
.dropdown-menu-item {
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
  &:hover {
    background-color: #f0f0f0;
  }
}
